/**
 * Layout - Footer
 */

.footer {
  padding: space("x-large") 0;
  @include background("primary");
  text-align: center;

  &__inner {
    @include row(center);
    gap: space("large");
    @include container();
  }

  &__item {
    display: inline-flex;
    align-items: center;
    @include small-text();

    .icon {
      margin-inline-end: space("x-small");
    }
  }

  small {
    font-size: 0.875rem;
    line-height: 1.8;
    letter-spacing: 0.02em;
  }
}
